#list {
  height: 100%;
  width: 14.75%;
  float: left;
  border: 1px solid gray;
  background-color: #ddd;
}

#bulletin {
  height: 60%;
  width: 85%;
  float: right;
  border: 1px solid gray;
  background-image:url('../img/bulletin.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
}

#taskInfo {
  height: 40%;
  width: 85%;
  float: right;
  border: 1px solid gray;
  background-color: #ddd;
}

#sticky1, #sticky2 {
  padding: 3%;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image:url('../img/sticky.jpeg');
  background-repeat:no-repeat;
  background-size: 100%;
}

#sticky1 {
  left: 100px;
  top: 65px;
}

#sticky1 {
  left: 250px;
  top: 70px;
}

#accordian {
}