#container {
  background-color: #aaa;
  border: 1px solid gray;
}


#list {
  height: 100%;
  width: 14.75%;
  float: left;
  border: 1px solid gray;
  background-color: #ddd;
}

#bulletin {
  height: 60%;
  width: 85%;
  float: right;
  border: 1px solid gray;
  background-color: #ddd;
}

#taskInfo {
  height: 40%;
  width: 85%;
  float: right;
  border: 1px solid gray;
  background-color: #ddd;
}

#sticky {
  padding: 0.5em;
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: relative;
  left: 300px;
  top: 30px;
  border: 2px solid black;
}