#container {
	font-family: "Handwriting - Dakota";
  background-image: url('../img/bulletin.jpg');
  border: 1px solid gray;
  -moz-border-radius: 15px;
  border-radius: 7px;
  height: 99%;
	width: 99%
}

#nameDropDown {
	float: left;
}

#dropDownBar {
	margin-left: 5px;
	margin-right: 5px;
}

#rightSideDropDowns {
	float: right;
}

#alertDropDown {
	float: left;
}
#myTasksDropDown {
	float: right;
}

#tasksByDate {
	float: left;
}

#bottomLeftBox{
	overflow-y: scroll;
}
#bottomRightBox {
	overflow-y: scroll;
}

.textholder{
	background-color="transparent";
	font-size: 11pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8%;
	position: relative;
}

#helpButton{
	height: 30px;
	width: auto;
	position: fixed;
	left: 10px;
	bottom: 14px;
	cursor: pointer;
	
}

.expandButton {
	cursor: pointer;
}

.tempscreen{
	background-color="transparent";
	font-size: 11pt;
	padding-left: 10px;
	padding-top: 3%;
	padding-right: 10px;
	padding-bottom: 8%;
	position: absolute;
}

.collabsBox {
	border: 1px inset #ececec;
	height: 65%;
	padding: 3%;
	width: 93%;
	font-size: small;
}

.notesBox {
	height: 65%;
	padding: 3%;
	border-right: 1px outset #ececec;
	border-top: 1px inset #ececec;
	overflow-y: scroll;
}

h5 {
	font-size: small;
	margin-top:6px; 
	margin-bottom:0px;
}

h4 {
	font-size: small;
	margin-top:0px; 
	margin-bottom:0px;
}

h2 {
	padding: 0px;
	margin: 0px;
}

u:hover {
	cursor: pointer;
	font-weight: bold;
}

.icon {
	height: 22px;
	width: 22px;
	cursor: default;
}

.persona {
	cursor: pointer;
}

ul, li {
	margin:0; 
	padding:1px; 
	list-style:none;
}

.collab{
	width: 13em;
}

.editableSticky {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.menu_class {
	font-family: "Handwriting - Dakota";
	font-weight: bold;
	font-size: 10pt;
	width: 13em;
	height: 30px;
}

.the_menu {
	background-color: white;
	display:none;
	width: auto;
	border: 1px solid #1c1c1c;
}

.the_menu li {
	background-color: #fff7df;
	padding: 1px;
	color:#000000; 
	font-size: 10pt;
	text-decoration:none; 
	display:block;
}

.hoverBold:hover {
	font-weight: bold;
}
.the_menu li:hover {
	cursor: pointer;
}

.sticky {
  width: 75px;
  height: 96px;
  position: absolute;
  background-image: url('../img/sticky.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 8px;
  font-size: medium;
  cursor: move;
}

.taskSticky {
  width: 75px;
  height: 96px;
  position: absolute;
  background-image: url('../img/greenSticky.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 8px;
  font-size: medium;
  cursor: move;
}

.paper {
	height: 308px;
	width: 475px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../img/paper2.png');
	cursor: move;
	position: absolute;
}

#helpPaper {
	height: 375px;
	width: 300px;
	background-image: url('../img/helpPaper.gif');
}

#acctPaper {
	height: 250px;
	width: 288px;
	background-image: url('../img/accountPaper.png');
}

.xbutton {
	cursor: pointer;
	float: right;
	position: absolute;
	top: 4px;
	right: 4px;
}

.xbuttonPaper {
	cursor: pointer;
	float: right;
	position: absolute;
	font-size: large;
	top: 8px;
	right: 8px;
}

.editStickyButton {
	cursor: pointer;
	float: right;
	position: absolute;
	height: 20px;
	width: 20px;
	bottom: 14px;
	right: 0px;
}

.stickyButton{
	width: 15px;
	height: 15px;
	cursor: pointer;
	float: left;
}

textarea {
	font-family: courier;
	background: transparent;
  border: none;
  height: 2em;
  resize: none;
  cursor: text;
}

textarea.h2 {
	font-family: "Handwriting - Dakota";
	font-size: large;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	height: 27px;
}

textarea:focus {
  outline: none;
}

textarea.new {
  color: #aaa;
  height: auto;
  background-color: #ffffff;  
  display:inline-block;
  float: left;
  width: 85%;
}

textarea.real {
  color: black;
  display:inline-block;
}

textarea.note {
  border-bottom: dashed 1px;
  border-color:-moz-use-text-color;
}

textarea.bucket {
  border-bottom: dashed 1px;
  border-color:-moz-use-text-color;
  width: 100%;
  
}

textarea.collab {
  border-bottom: dashed 1px;
  border-color:-moz-use-text-color;
  width: 100%;
  
}

textarea.task {
  border-bottom: dashed 1px;
  border-color:-moz-use-text-color;
  width: 75%;
}


.stickyNote {
  background: transparent;
  font-size: small;
  font-family: Helvetica;
  height: inherit;
  width: inherit;
}

.date {
	cursor: default;
}

.fixed{
	height: auto;
	cursor: pointer;
	width: 22em;
}

.leftBox {
	width: 65%;
	float: left;
}
.rightBox {
	width: 35%;
	float: right;
}

.topLeftBoxBucket {
	border-bottom: 1px solid black;
	overflow-y: visible;
	height: 11%;
}

.topRightBoxBucket {
	height: 11%; 
	overflow-y: visible;
	border-bottom: 1px solid black;
}

.topLeftBoxTask {
	border-bottom: 1px solid black;
	overflow-y: visible;
	height: 17%;
}

.topRightBoxTask {
	height: 17%; 
	overflow-y: visible;
	border-bottom: 1px solid black;
}

.collabsTitle {
	float: left;
}

.addCollabButton {
	float: right; 
	padding-top: 0px; 
	padding-bottom: 0px;		
  	width: 30px;
  	height: 30px;
  	margin: 0px auto;
  	cursor: pointer;
}

.checkBoxIcon{
	height: 15px;
	width: 15px;
	cursor: default;
}

.bucketTitle{
	float: left;
}

.strikeThrough {
	text-decoration: line-through;
}

.hidden {
  visibility:hidden;
}

.ui-datepicker-trigger {
	float: right;
	cursor: default;
}